{% extends 'base.html.twig' %}

{% form_theme formInscription'bootstrap_5_layout.html.twig' %}
{% block body %}

    <div class="example-wrapper container col-6 ">
        {{ form_start(formInscription)  }}
        {{ form_row(formInscription.nom)  }}
        {{ form_row(formInscription.prenom)  }}
        {{ form_row(formInscription.age)  }}
        {{ form_row(formInscription.cin)  }}
        //on peut  remplacer les lignes si dessous par seulement par la commande {{ form_widget(formInscription.cin)  }}
        <button type="submit" class="btn btn-info">Enregistrer</button>
        {{ form_end(formInscription)  }}
    </div>






{% endblock %}